.header__father {
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: 3px 3px 8px #e9eaec;
  z-index: 999;
}
.header__father .logo img {
  padding: 10px 0;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-nav .main-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.main-nav .main-icon a img {
  width: 23px;
}

.none {
  display: none;
}

.main-nav .nav-img {
  display: none;
}

nav ul {
  list-style: none;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.main_nav--nav-and-button {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.main_nav--nav-and-button .main_nav-a {
  background-color: #5f40f5;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 4px;
  letter-spacing: 1px;
  box-shadow: 3px 3px 7px #e9eaec;
  text-decoration: none;
  font-size: 12px;
}

@media screen and (min-width: 420px) {
  .main-nav .main-icon {
    display: flex;
    flex-direction: initial;
    align-items: center;
    gap: 5px;
  }
  .main-nav .main-icon a img {
    width: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .none {
    display: flex;
  }
  .nav-img {
    display: none;
  }
  nav {
    position: static;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: 0vh;
  }
  nav ul {
    margin: 0;
    display: flex;
    gap: 10px;
  }
  nav ul li a {
    letter-spacing: 0px;
    font-size: 16px;
  }
}
.header__article--father {
  padding-top: 180px;
  margin-bottom: 100px;
}

.header__article {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header__article--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__article--img img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #e9eaec;
}

.header__article--text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header__article--text .header__article--text-header p {
  color: rgba(0, 0, 0, 0.3450980392);
  font-weight: bold;
}
.header__article--text .header__article--text-header h1 {
  color: #3086fa;
}
.header__article--text .header__article--text-article {
  display: grid;
  gap: 10px;
}
.header__article--text .header__article--text-article a {
  width: 200px;
  border: none;
  color: #fff;
  background-color: #3086fa;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}

@media screen and (min-width: 425px) {
  .header__article--img img {
    width: 300px;
  }
}
@media screen and (min-width: 769px) {
  .header__article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__article--img img {
    width: 400px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .header__article--img img {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .header__article {
    display: flex;
    gap: 100px;
  }
}
@media screen and (min-width: 1441px) {
  .header__article--img img {
    width: 435px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header__article {
    margin: 0 80px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .header__article {
    margin: 0 100px;
  }
}
.article-son h2 {
  text-align: center;
}

.main__project--card {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 60px;
}
.main__project--card .project__card {
  min-height: 455px;
  display: grid;
  grid-gap: 20px;
  background-color: #e9eaec;
  border-radius: 5px;
  box-shadow: 4px 4px 20px #b8b8b8;
}
.main__project--card .project__card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
}
.main__project--card .project__card .project__card--body {
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main__project--card .project__card .project__card--body span {
  color: rgba(0, 0, 0, 0.3215686275);
  font-weight: bold;
}
.main__project--card .project__card .button-project {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3086fa;
  color: #fff;
  border: none;
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.main__project--card .project__card .button-project:hover {
  background-color: #4994f6;
}

@media screen and (min-width: 425px) {
  .project__card {
    width: 300px;
  }
}
@media screen and (min-width: 880px) and (max-width: 1270px) {
  .main__project--card {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1271px) {
  .main__project--card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.main__skills--card-learning .skill .next {
  padding: 17px;
}

.skills-father {
  margin: 80px 0;
}

.skills-son {
  text-align: center;
}

.main__skills--card-learned {
  margin: 40px 0;
}

.skill {
  margin-top: 35px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.skills__card {
  max-width: 380px;
  padding: 13px 17px;
  border-radius: 8px;
  border: 2px solid #1d1d26;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: start;
  align-items: center;
}
.skills__card img {
  width: 32px;
}

.skills__card p {
  padding: 0 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .skills__card:hover {
    border: 2px solid #5f40f5;
    transform: scale(1.01);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 40px 0;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 60px 0;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 60px 0;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.typeorm img {
  width: 64px;
}

footer {
  text-align: center;
  padding: 25px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  user-select: none;
}

*::selection {
  background: none;
}

*::-moz-selection {
  background: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e9eaec;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
}

h2 {
  grid-gap: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

h2::after {
  content: "";
  width: 150px;
  height: 5px;
  background-color: #5f40f5;
  border-radius: 20px;
}

.grid-father {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.grid-son {
  grid-column-start: 2;
  grid-column-end: 3;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .grid-father {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-father {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .grid-father {
    display: grid;
    grid-template-columns: 130px 1fr 130px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .grid-father {
    display: grid;
    grid-template-columns: 160px 1fr 160px;
  }
}
@media screen and (min-width: 2561px) {
  .grid-father {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
  }
}

/*# sourceMappingURL=index.css.map */
