.aside__father {
  margin: 60px 0;
}

aside {
  text-align: center;
  display: grid;
  gap: 100px;
}

.aside__card {
  gap: 20px;
  @include mainAlign(grid, center, center);
}

.aside__main--card {
  display: grid;
  grid-gap: 60px;
}

.aside__card--img {
  max-width: 100%;
}

.aside__card h3 {
  color: #3086fa;
}

.aside__card--more-info {
  @include mainAlign(flex, center, center);
}

.aside__card--more-info a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.icon__more--info {
  margin-left: 10px;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .aside__card--more-info:hover .icon__more--info {
    transform: translateX(10px);
  }

  .aside__card--more-info a:hover {
    color: #ccc;
  }
}

@media screen and (min-width: 420px) {
  .aside__card--img {
    max-width: 300px;
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 421px) and (max-width: 886px) {
  .aside__main--card {
    @include containerGrid(1);
  }
}

@media screen and (min-width: 887px) {
  .aside__card {
    width: 330px;
  }

  .aside__main--card {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
