.header__father {
  position: fixed;
  background-color: $bgColorPrimary;
  width: 100%;
  box-shadow: 3px 3px 8px $bgColorSecundary;
  z-index: 999;

  .logo img {
    padding: 10px 0;
  }
}

header {
  @include mainColumn(repeat(2, 1fr));
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .main-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    a img {
      width: 23px;
    }
  }
}

.none {
  display: none;
}

.main-nav .nav-img {
  display: none;
}

nav ul {
  list-style: none;
  @include mainAlign(grid, center, center);
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: $colorText;
}

.main_nav--nav-and-button {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  .main_nav-a {
    background-color: $colorSecondary;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 4px;
    letter-spacing: 1px;
    box-shadow: 3px 3px 7px $bgColorSecundary;
    text-decoration: none;
    font-size: 12px;
  }
}

@media screen and (min-width: 420px) {
  .main-nav .main-icon {
    display: flex;
    flex-direction: initial;
    align-items: center;
    gap: 5px;
    a img {
      width: 23px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .none {
    display: flex;
  }

  .nav-img {
    display: none;
  }

  nav {
    position: static;
    display: flex;
    background-color: #00000000;
    height: 0vh;

    ul {
      margin: 0;
      display: flex;
      gap: 10px;

      li a {
        letter-spacing: 0px;
        font-size: 16px;
      }
    }
  }
}
