.article-son h2 {
  text-align: center;
}

.main__project--card {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 60px;
  .project__card {
    display: grid;
    grid-gap: 20px;
    background-color: $bgColorSecundary;
    border-radius: 5px;
    box-shadow: 4px 4px 20px #b8b8b8;
    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      max-width: 100%;
    }

    .project__card--body {
      margin-top: 10px;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        color: #00000052;
        font-weight: bold;
      }
    }

    .button-project {
      background-color: $btncolorPrimary;
      color: $bgColorPrimary;
      border: none;
      padding: 5px;
      font-weight: bold;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: 0.2s ease-in-out;
    }

    .button-project:hover {
      background-color: #4994f6;
    }
  }
}

@media screen and (min-width: 425px) {
  .project__card {
    width: 300px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1270px) {
  .main__project--card {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1271px) {
  .main__project--card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
