.main__skills--card-learning .skill .next {
  padding: 17px;
}

.skills-father {
  margin: 80px 0;
}


.skills-son {
  text-align: center;
}

.main__skills--card-learned {
  margin: 40px 0;
}

.skill {
  margin-top: 35px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  @include mainColumn(repeat(1, 1fr));
}

.skills__card {
  max-width: 380px;
  padding: 13px 17px;
  border-radius: 8px;
  border: 2px solid $borderColor;
  transition: 0.2s ease-in-out;
  @include mainAlign(flex, start, center);

  img {
    width: 32px;
  }
}

.skills__card p {
  padding: 0 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .skills__card:hover {
    border: 2px solid $colorSecondary;
    transform: scale(1.01);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 40px 0;
  }

  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 60px 0;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .main__skills--card-learned,
  .main__skills--card-learning {
    margin: 60px 0;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.typeorm {
  img {
    width: 64px;
  }
}
