@mixin mainAlign($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin mainColumn($column) {
  display: grid;
  grid-template-columns: $column;
}

@import '_variables';
@import '_header';
@import '_header-article';
@import '_aside.scss';
@import '_skills';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bgColorPrimary;
  color: $colorText;
}

h2 {
  @include mainAlign(grid, center, center);
  grid-gap: 10px;
}

h2::after {
  content: '';
  width: 150px;
  height: 5px;
  background-color: #5f40f5;
  border-radius: 20px;
}

.grid-father {
  @include mainColumn(30px 1fr 30px);
}

.grid-son {
  grid-column-start: 2;
  grid-column-end: 3;
}
