@import '_variables';
@import '_mixins';
@import '_header';
@import '_header-article';
@import '_proyect';
@import '_skills';
@import '_footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bgColorPrimary;
  color: $colorText;
}

h2 {
  grid-gap: 10px;
  @include mainAlign(grid, center, center);
}

h2::after {
  content: '';
  width: 150px;
  height: 5px;
  background-color: #5f40f5;
  border-radius: 20px;
}

.grid-father {
  @include mainColumn(30px 1fr 30px);
}

.grid-son {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .grid-father {
    @include mainColumn(60px 1fr 60px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-father {
    @include mainColumn(100px 1fr 100px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .grid-father {
    @include mainColumn(130px 1fr 130px);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .grid-father {
    @include mainColumn(160px 1fr 160px);
  }
}

@media screen and (min-width: 2561px) {
  .grid-father {
    @include mainColumn(200px 1fr 200px);
  }
}
